<header class="header">
  <h2 class="header-logo"><a href="/">Mybrary</a></h2>
  <ul>
    <li><a href="/authors">All Authors</a></li>
    <li><a href="/authors/new">New Authors</a></li>
    <li><a href="/books">All Books</a></li>
    <li><a href="/books/new">New Books</a></li>
  </ul>
</header>
